@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    --filter-svg: invert(16%) sepia(0%) saturate(1281%) hue-rotate(162deg) brightness(102%) contrast(85%);
    --clr-backround: #f69f50;
    --clr-font-main: #373737;
    --clr-font-sub: #444444;
}

html, body, #root {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    background-color: var(--clr-backround);
    transition: background-color 0.5s ease-in;
}

* {
    box-sizing: border-box;
    font-family: 'Lato';
    color: var(--clr-font-main);
}

section:last-of-type {
    margin-bottom: 48px;
}

#root {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.search-form,section,footer {
    width: 80%;
    max-width: 520px;
    min-width: 320px;
}

.search-form {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    margin-top: 48px;

    input {
        padding: 0;
        background: none;
        border: none;
        font-size: 18px;
        border-bottom: 2pt solid var(--clr-font-sub);
        transition: all 0.2s ease-in;

        &:focus {
            outline: 0;
            border-bottom: 2pt solid var(--clr-font-main);
        }

        &::placeholder,&::-webkit-input-placeholder {
            color: var(--clr-font-sub);
            opacity: 1;
        }
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        margin: 0;
        width: 24px;
        height: 24px;

        img {
            filter: var(--filter-svg);
            transition: all 0.2s ease-in;
        }

        &:hover {
            img {
                filter: var(--filter-svg);
            }
        }

        &:focus {
            img {
                filter: var(--filter-svg);
            }
        }
    }
}

.current {
    .main-panel {
        display: flex;
        flex-flow: row nowrap;
        flex-grow: 0;  
    }

    .sub-panel {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
        justify-content: center;
        align-items: flex-end;
        gap: 4px;
        padding-top: 4px;

        div {
            display: flex;
            flex-flow: row wrap;
            gap: 6px;
        }
        span {
            font-size: 21px;
        }

        img {
            filter: var(--filter-svg);
            transition: filter 0.2s ease-in;
            width: 22px;
        }
    }
}

.forecast {
    .cards-wrapper{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .card {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 4px;

            p {
                margin: 0;
            }
            
            .temperature {
                font-weight: 500;
                font-size: 18px;
            }
            .temperature-night {
                font-size: 18px;
                font-weight: 400;
                color: var(--clr-font-main);
            }

            .precipitation {
                font-size: 14px;
                font-weight: 400;
                color: var(--clr-font-main);
            }

            .precipitation.amount {
                margin-top: -4px;
            }

            img {
                filter: var(--filter-svg);
                transition: filter 0.2s ease-in;
                width: 36px;
                height: 36px;
            }
        }
    }
}

footer {
    margin-bottom: 45px;
    text-align: center;
}

h1,h2,h3,h4,span,p {
    transition: color 0.2s ease-in;
}

h1,h2,h3,h4 {
    margin: 0;
}

h1 {
    font-size: 140px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 26px;
    margin-bottom: 12px;
}

@media only screen and (max-width: 480px) {
    .current {
        .sub-panel {
            img {
                width: 20px;
            }
            span {
                font-size: 16px;
            }
        }
    }
    
    .forecast {
        .cards-wrapper {
            .card {
                .time {
                    font-size: 18px;
                }

                .temperature {
                    font-size: 16px;
                }

                .temperature-night {
                    font-size: 16px;
                }

                .precipitation {
                    font-size: 12px;
                }

                img {
                    width: 28px;
                    height: 28px;
                }
            }

            .card:nth-of-type(6) {
                display: none;
            }
        }
    }

    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 22px;
    }
    
    h4 {
        font-size: 20px;
    }
}